[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git

[submodule "PythonCheckersAI"]
	path = PythonCheckersAI
	url = https://github.com/BoardGameAssistant/Python-Checkers-AI.git
